.trade-stats {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 50px;
  border-radius: 50px;
  background: #fff;
  box-shadow: 9px 9px 10px #c295cf, -9px -9px 25px #ffdbff;
}

.card {
  color: black;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 10px;
  overflow: visible;
}

.card .item {
  border-radius: 10px;
  width: 150px;
  height: 125px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.item:hover {
  transform: scale(0.95);
  transition: all 0.3s;
}

.item svg {
  width: 40px;
  height: 40px;
  margin-bottom: 7px;
}

.item--1 {
  background: #c7c7ff;
}

.item--2 {
  background: #ffd8be;
}

.item--3 {
  background: #a9ecbf;
}

.item--4 {
  background: #f3bbe1;
}

.item--5 {
  background: #fb999c;
}

.quantity {
  font-size: 25px;
  font-weight: 600;
}

.text {
  font-size: 20px;
  font-family: inherit;
  font-weight: 600;
}

.text--1 {
  color: rgba(149, 149, 255, 1);
}

.text--2 {
  color: rgba(252, 161, 71, 1);
}

.text--3 {
  color: rgba(66, 193, 110, 1);
}

.text--4 {
  color: rgba(220, 91, 183, 1);
}

.text--5 {
  color: rgb(252, 53, 79);
}

.backButton {
  margin-top: 20px;
  cursor: pointer;
  font-size: 20px;
  background: royalblue;
  color: white;
  padding: 0.7em 1em;
  padding-left: 0.9em;
  display: flex;
  align-items: center;
  border: none;
  border-radius: 16px;
  overflow: hidden;
  transition: all 0.2s;
}

.backButton span {
  display: block;
  margin-left: 0.3em;
  transition: all 0.3s ease-in-out;
}

.backButton svg {
  display: block;
  transform-origin: center center;
  transition: transform 0.3s ease-in-out;
}

.backButton:hover .svg-wrapper {
  animation: fly-1 0.6s ease-in-out infinite alternate;
}

.backButton:hover svg {
  transform: rotate(45deg) scale(1.1);
}

.backButton:active {
  transform: scale(0.95);
}

@keyframes fly-1 {
  from {
    transform: translateY(0.1em);
  }

  to {
    transform: translateY(-0.1em);
  }
}
